.l-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;
  max-height: 100vh;
  background-color: black;
  overflow-y: auto;
  padding: 1rem;

  &__game {
    min-height: 100%;
    max-height: 100%;
    // padding: 2rem 0;
    box-shadow: 0 -5px 0 #0000bc, 5px 0 0 #0000bc, 0 5px 0 #0000bc,
      -5px 0 #0000bc;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.c-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../public/images/bgr2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  padding: 5vw;

  &__header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    // border-bottom: 5px dashed white;
  }

  &__text {
    color: white;
    line-height: 1.5em;
    text-align: center;
    &--margin-bottom {
      margin-bottom: 1rem;
    }
  }

  &__name {
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: #f8b800;
    // text-shadow: 0 clamp(3px, 1vw, 5px) 0 #7c7c7c;
    word-break: break-all;
    font-weight: 400;
    text-align: center;
    // animation: moveup 500ms ease infinite;

    &-char {
      display: inline-block;
      // &:hover {
      //   transform: translateY(-5px);
      // }
      &:nth-child(1) {
        animation: moveup 1000ms steps(5, end) 200ms infinite;
      }
      &:nth-child(2) {
        animation: moveup 1000ms steps(5, end) 400ms infinite;
      }
      &:nth-child(3) {
        animation: moveup 1000ms steps(5, end) 600ms infinite;
      }
      &:nth-child(4) {
        animation: moveup 1000ms steps(5, end) 800ms infinite;
      }
      &:nth-child(5) {
        animation: moveup 1000ms steps(5, end) 1000ms infinite;
      }
      &:nth-child(6) {
        animation: moveup 1000ms steps(5, end) 1200ms infinite;
      }
      &:nth-child(7) {
        animation: moveup 1000ms steps(5, end) 1400ms infinite;
      }
      &:nth-child(8) {
        animation: moveup 1000ms steps(5, end) 1600ms infinite;
      }
      &:nth-child(9) {
        animation: moveup 1000ms steps(5, end) 1800ms infinite;
      }
      &:nth-child(10) {
        animation: moveup 1000ms steps(5, end) 2000ms infinite;
      }
      &:nth-child(11) {
        animation: moveup 1000ms steps(5, end) 2200ms infinite;
      }
      &:nth-child(12) {
        animation: moveup 1000ms steps(5, end) 2400ms infinite;
      }
    }
  }

  @keyframes moveup {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  &__result-wrap {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__result-list {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__result-item {
    margin: 0.5rem;
    padding: 1em;
    color: black;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 -8px 0 #00b800, 8px 0 0 #00b800, 0 8px 0 #00b800,
      -8px 0 #00b800, inset 0 5px 0 #787878, inset -5px 0 0 #787878;
    margin: 0.75rem;
  }

  &__winners {
    color: #00b800;
    margin-bottom: 0.5rem;
  }

  &__timer {
    margin-left: 1rem;
    text-align: center;
    color: #b8f818;
  }

  &__form {
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__inputs-wrap {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__input {
    padding: 0.75em;
    caret-color: transparent;
    font-size: clamp(1rem, 5vw, 2rem);
    // max-width: 2rem;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    box-shadow: 0 -8px 0 #0000bc, 8px 0 0 #0000bc, 0 8px 0 #0000bc,
      -8px 0 #0000bc, inset 0 5px 0 #7c7c7c, inset -5px 0 0 #7c7c7c;
    margin: 0.75rem;

    &:focus {
      box-shadow: 0 -8px 0 #3cbcfc, 8px 0 0 #3cbcfc, 0 8px 0 #3cbcfc,
        -8px 0 #3cbcfc, inset 0 5px 0 #7c7c7c, inset -5px 0 0 #7c7c7c;
      border: none;
      outline: none;
    }
  }

  &__button {
    padding: 1em 2em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #f8d878;
    box-shadow: 0 -5px 0 #fca044, 5px 0 0 #fca044, 0 5px 0 #fca044,
      -5px 0 #fca044, inset 0 -5px 0 #fce0a8, inset -5px 0 0 #fce0a8;
    text-transform: uppercase;
    transition: opacity 500ms steps(5, end), visibility 500ms steps(5, end);
    opacity: 1;

    &:active {
      transform: translateY(5px);
    }

    &--submitted {
      opacity: 0;
      visibility: hidden;
    }
  }
}
